@charset"utf-8";

/* 文本元素初始化 */
a {
    color: #337ab7;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: #23527c;
    outline: 0 none;
    text-decoration: underline;
}
b,strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
small {
    font-size: 85%;
}
mark {
    padding: .2em;
    color: #000;
    background-color: #fcf8e3;
}
/*计算机相关*/
code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 1em;
}

kbd {
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}
code {
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
}
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #777;
}
