@charset"utf-8";
/*初始化方案*/

/*嵌入元素初始化*/
img {
    border: 0;
    vertical-align: middle;
}
audio,video,canvas,progress {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
svg:not(:root) {
    overflow: hidden;
}