@charset"utf-8";
/* CSS初始化 */
*{
	margin: 0;
}
body{
	font-family: 'SimHei';
	font-size: 14px;
	background-color: #fff;
}
/*CSS样式*/
h1{
	font-size: 3em；
	margin:15px 0 8px 0;
}
.alert{
	margin: 6px;
	padding: 6px;
	background-color: #efe;
	color: #3a3;
	border: 1px solid #6a6;
}