@charset"utf-8";
/* Bootstrap样式 */
.btn{
	display: inline-block;
	margin-bottom: 0;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 1.42857;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
	-moz-user-select: none; 
}

.btn-link{
    border-color: transparent;
    border-radius: 0;
    font-weight: normal;
    color: #337ab7;
	background-color: transparent;
    box-shadow: none;   
} 

/* 不同颜色按钮的实现 */
 /*默认颜色*/
.btn-default{
    border-color: #ccc;
    color: #333;
	background-color: #fff;
} 
/*红色*/
.btn-danger {
    border-color: #d43f3a;
    color: #fff;
    background-color: #d9534f;
}
/*黄色*/
.btn-warning {
    border-color: #eea236;
    color: #fff;
    background-color: #f0ad4e;
}
/*绿色*/
.btn-success {
    border-color: #4cae4c;
    color: #fff;
    background-color: #5cb85c;
}
/*浅蓝色*/
.btn-info {
    border-color: #46b8da;
    color: #fff;
    background-color: #5bc0de;  
}
/*深蓝色*/
.btn-primary {
    border-color: #2e6da4;
    color: #fff;
    background-color: #337ab7; 
}

/* 不同大小的按钮的实现 */
.btn-lg{
    padding: 10px 16px;
	border-radius: 6px;
    line-height: 1.33333;
    font-size: 18px;
}
.btn-sm {
    padding: 5px 10px;
    border-radius: 3px;
    line-height: 1.5;
    font-size: 12px;
}
.btn-xs {
    padding: 1px 5px;
    border-radius: 3px;
    line-height: 1.5;
    font-size: 12px;
}
 
 /* 块级按钮的实现 */
  .btn-block{
    width: 100%;
	display: block;
} 

/* 激活状态按钮的实现 */
 .active{
	background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
} 
/* 禁用状态按钮的实现 */
 .disabled{
	box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
} 